/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    background-color: rgba(0, 0, 40, 1);
    color: white;
}
.header__theme-menu-list {
  color: #FF0070;
}
    .header__title { 
      color: #DB00FF;
    }
    /* не забыть сделать уголок для футера через афтер */
.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 11px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid #ff0070;
  border-right: 1px solid #ff0070;
}
 
.header__title { 
  text-shadow: 4px 4px 0 #FF0070;
}

