:root.theme-light {
  --page-bg-color: var(--color-bg-light);
  --accent-color: var(--color-accent-light);
  --title-color: var(--color-title-light);
  --header-text-color: var(--color-text-dark);
  --question-color: var(--color-text-dark);
  --answer-title-color: var(--color-text-dark);
  --answer-text-color: var(--color-text-dark);
  --advice-title-color: var(--color-text-dark);
  --button-color: var(--color-text-dark);
  --deco-color: var(--color-text-dark);
  --border-color-opacity: var(--color-border-opacity-light);
  --background-image: url("../images/cover-image-light.png");
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-light):not(.theme-dark) {
    --page-bg-color: var(--color-bg-light);
    --accent-color: var(--color-accent-light);
    --title-color: var(--color-title-light);
    --header-text-color: var(--color-text-dark);
    --question-color: var(--color-text-dark);
    --answer-title-color: var(--color-text-dark);
    --answer-text-color: var(--color-text-dark);
    --advice-title-color: var(--color-text-dark);
    --button-color: var(--color-text-dark);
    --deco-color: var(--color-text-dark);
    --border-color-opacity: var(--color-border-opacity-light);
    --background-image: url("../images/cover-image-light.png");
  }
}