
/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-attachment: fixed;
  background-image: var(--bg-image, none);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr;
}

.header__rec {
  position: absolute;
  top: 15px;
  right: 40px;
  color: var(--accent-color, #ff0070);
  font-family: var(--main-font, 'IBM Plex Mono', monospace);
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;

}

.header__theme-menu {
  grid-row: 1;
  grid-column: 2;
  justify-self: end;
  align-self: start;
  margin-top: 39px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: -78px;
  margin-top: 35px;
}
.header__rec::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background-color: var(--accent-color, #ff0070);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
}
 
.header__title {
 font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
 margin-top: 240px;
 margin-left: 12px;
line-height: 83%;
font-family: var(--main-font);
}

.header__theme-menu-button {
  padding: 4px 13px;
  background-color: inherit;
  border: none;
  font-size: var(--regular-font-size);
  line-height: var(--regular-line-height);
  text-transform: lowercase;
  color: var(--button-color);
  cursor: pointer;
  font-family: IBM Plex Mono;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 18px;
letter-spacing: 0%;
text-align: center;

}

.header__description {
  position: relative;
  background-color: #FF0070;
  color: #000028;
  font-family: IBM Plex Mono;
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 23.4px;
letter-spacing: 0%;
width: 355px;
height: 117px;
margin-left: 10px;
margin-top: 52px;
}

